<div class="max deep-purple row">
  <div class="card white col s10 offset-s1 m6 offset-m3 l4 offset-l4">
    <form [formGroup]="admLoginForm" autocomplete="off" (submit)="onLogin()">
      <div class="input-field col s10 offset-s1 mt-9">
        <input id="email" formControlName="email" type="email" class="validate" autocomplete="email">
        <label for="email">Email</label>
        <p *ngIf="email.errors && email.touched">
          <span class="errors" *ngIf="email.errors.email">O email está em formato inválido</span>
        </p>
      </div>
      <div class="input-field col s10 offset-s1">
        <input id="password" formControlName="password" type="password" class="validate" autocomplete="new-password">
        <label for="password">Senha</label>
      </div>

      <!-- <label class="col s10 offset-s1 m15">
        <input formControlName="keepLogged" type="checkbox" class="filled-in" checked="checked" />
        <span>Mantenha-me conectado</span>
      </label> -->
      
      <div class="col s10 offset-s1 mt-5">
        <button class="col s12 btn round deep-purple white-text waves-effect waves-light" type="submit" name="action">entrar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>