.max {
  height: 100vh;
}

.card {
  margin-top: 20vh;
  height: 60vh;
  padding: 2rem .5rem;
  border-radius: .8rem;
}

/* input[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #6735b7;
  background-color: #6735b7;
  z-index: 0;
} */

.input-field input[type=text]:focus + label,input[type=file]:focus + label,input[type=number]:focus + label,input[type=password]:focus + label,input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #673ab7 !important;
}
  
.input-field input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus,input[type=file]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}
  
.input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}