* {
  margin: 0;
  padding: 0;
}

div.h100 {
  height: 90vh;
}

.mt-8 {
  padding-top: 8vh;
}

.input-field {
  padding-bottom: .8rem;
}

.no-width {
  height: 0% !important;
  width: 0% !important;
}

input {
  padding-bottom: .5rem;
}

.mt-4 {
  padding-top: 4vh;
}

img {
  max-height: 40vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid #fff;
}

.input-field input[type=text]:focus + label,input[type=password]:focus + label,input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: white !important;
}

.input-field input[type=text]:focus,input[type=password]:focus,input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

.input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid white !important;
 box-shadow: 0 1px 0 0 white !important;
}