<nav-perfil></nav-perfil>

<div class="row h100 deep-purple gradient-experience" *ngIf="profile">
  <div class="col s10 l8 offset-s1 offset-l2 mt-4">
    <form [formGroup]="profileForm" (submit)="onSaveProfile()">
      <img (click)="profilePic.click()" class="responsive-img nowidth" src="https://loremflickr.com/1200/1200">
      <!-- [src]="profile.profilePic? profile.profilePic : defaultPic" -->
      <input type="file" hidden #profilePic (change)="onImagePicked($event)">
      <div class="mt-4">
        <div class="input-field col s12 l8 offset-l2">
          <input id="name" formControlName="name" type="text" class="validate center white-text" [value]="profile.name">
          <label for="name">Nome</label>
        </div>
      </div>
      <div class="input-field col s12 l8 offset-l2">
        <input id="email" formControlName="email" type="email" class="validate center white-text" [value]="profile.email">
        <label for="email">Email</label>
      </div>
      <button type="submit" class="btn col s12 l8 offset-l2 white deep-purple-text">salvar</button>
    </form>
  </div>
</div>