.blue {
	background-color: #5a1edb;
}

.white {
	background: white;
}

.white-text {
    color: white;
}

.white-text:hover, .white-text:active {
	color: white;
}

.pink{
	background: #e825b5;
}

.pink-text {
	color: #e825b5;
}

.purple {
	background-color: #6735b7;
}

.purple_30 {
	background: rgba(103, 53, 183, 1);
}

.purple-text {
	color: #6735b7;
}