.fill {
    position: relative;
    border: 2px transparent solid;
    border-radius: 4px;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.25s ease-in;
    -o-transition:      0.25s ease-in;
    -ms-transition:     0.25s ease-in;
    -moz-transition:    0.25s ease-in;
    -webkit-transition: 0.25s ease-in;
}

.fill .gradient-text {
    transition: .3s ease-in;
}
  
.fill:hover .gradient-text {
    -webkit-text-fill-color: white;
    -webkit-background-clip: unset;
    background: none;
}
  
.fill:before {
    content: "";
    position: absolute;
    background: linear-gradient(-135deg, #824af9 ,#5a1edb ,#e825b5, #6735b7);
	background-size: 400% 400%;
	-webkit-animation: Gradient 8s ease-in-out infinite;
	-moz-animation: Gradient 8s ease-in-out infinite;
    animation: Gradient 8s ease-in-out infinite;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 0.3s ease-in;
}
  
.fill:hover:before {
    right: 0;
}


.fill-left {
    position: relative;
    border: 2px transparent solid;
    color: #424242;
    border-radius: 4px;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.25s ease-in;
    -o-transition:      0.25s ease-in;
    -ms-transition:     0.25s ease-in;
    -moz-transition:    0.25s ease-in;
    -webkit-transition: 0.25s ease-in;
}
  
.fill-left:hover {
    color: white
}
  
.fill-left:before {
    content: "";
    position: absolute;
    background: #424242;
    bottom: 0;
    left: 100%;
    right: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: left 0.3s ease-in;
}
  
.fill-left:hover:before {
    left: 0;
}