.height-93 {
    height: 93vh !important;
}

.margin {
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.height-85 {
    min-height: 85%;
    max-height: 85%;
}

.margin-10vh {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.padding-35vh {
    padding-top: 35vh !important;
}

.padding-45vh {
    padding-top: 45vh !important;
}

.padding-40vh {
    padding-top: 40vh !important;
}

.padding-20vh {
    padding-top: 20vh !important;
}

.padding-15vh {
    padding-top: 15vh !important;
}

.padding-10vh {
    padding-top: 10vh !important;
}

.padding-5vh {
    padding-top: 5vh !important;
}

.padding-2vh {
    padding-top: 2vh !important;
}

.margin-all-5vh {
    margin: 5vh;
}

.pl-1 {
	padding-left: 1vh;
}

.pl-2 {
	padding-left: 2vh;
}

.pl-2_5 {
	padding-left: 2.5vh;
}