<div class="col s12 m6 l4" *ngFor="let order of orders">

  <div class="card">
      <div class="card-image">
          <img [src]="teste">
      </div>
      <div class="card-content">
        <div [id]="order.id" class="row" hidden>
            <form [formGroup]="proposalForm" (submit)="onMakeProposal(order)">
                <span class="card-title center deep-purple-text mt-1">Oferecido: {{order.reward_value | currency: 'USD'}}</span>
                <div class="input-field col s12">
                    <input placeholder="Valor da proposta" formControlName="proposal">
                    <!-- <label for="proposal">Valor da proposta</label> -->
                </div>
                <button type="submit" class="btn col s5 ml-2 mt-1 deep-purple">fazer proposta</button>
                <button type="button" class="btn col s5 ml-2 mt-1 pink accent-3" (click)="closeProposalDiv(order.id)">cancelar</button>
            </form>
        </div>
        <div [class]="order.id">
            <span class="card-title center deep-purple-text">{{order.product}}</span>
            <div class="row mt-5">
                <div class="col s4"><p class="center deep-purple-text">{{order.location_from}}</div>
                <div class="col s4">
                    <p class="center"><i class="material-icons deep-purple-text">flight</i></p>
                </div>
                <div class="col s4">
                    <p class="center deep-purple-text">{{order.location_final}}</p>
                </div>
                <div class="col s12 mt-5">
                    <p class="center deep-purple-text">recompensa: {{order.reward_value | currency:'USD'}}</p>
                </div>
                <div class="col s12 mt-1 row">
                    <button class="btn col s12 deep-purple" (click)="openProposalDiv(order.id)">fazer proposta</button>
                </div>
            </div>
        </div>
      </div>
      <div class="card-action"></div>
      <!-- <div class="card-action">
        <div [class]="order.id" hidden>
            <form class="row" #proposta="ngForm" (submit)="onFazerProposta(proposta)">
                <div class="input-field col s12">
                    <input id="valorProposta" name="valorProposta" type="text" class="validate" required ngModel #valorProposta="ngModel">
                    <label for="valorProposta">Valor da Proposta</label>
                </div>
                <button type="submit" class="btn col s6 deep-purple white-text">confirmar</button>
                <button type="button" class="btn col s6 red white-text" (click)="onOpenProposta(order.id)">cancelar</button>
            </form>
        </div>
        <div class="row">
            <a class="btn col s12 deep-purple white-text" [ngClass]="order.id" (click)="onOpenProposta(order.id)">fazer proposta</a>
        </div>
      </div> -->
  </div>

</div>