<div class="row">

  <div class="max col s12 l6 white">
    <i routerLink="/" class="material-icons deep-purple-text small pointer left">arrow_back</i>

    <h2 class="center deep-purple-text lobster mb-5">cadastro</h2>

    <form autocomplete="off" [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="input-field col s10 offset-s1">
        <input id="name" formControlName="name" type="text" class="validate" >
        <label for="name">Nome</label>
        <p *ngIf="name.errors && name.touched">
          <span class="errors" *ngIf="name.errors.required">O preenchimento do nome é obrigatório</span>
          <span class="errors" *ngIf="name.errors.minlength">Preencha o seu nome completo</span>
        </p>
      </div>
      <div class="input-field col s10 offset-s1">
        <input id="email" formControlName="email" type="email" class="validate">
        <label for="email">Email</label>
        <p *ngIf="email.errors && email.touched">
          <span class="errors" *ngIf="email.errors.required">O preenchimento do email é obrigatório</span>
          <span class="errors" *ngIf="email.errors.email">Email em formato invalido</span>
        </p>
      </div>
      <div class="input-field col s10 offset-s1">
        <input id="password" formControlName="password" type="password" autocomplete="off" class="validate">
        <label for="password">Senha</label>
        <p *ngIf="password.errors && password.touched">
          <span class="errors" *ngIf="password.errors.required">O preenchimento da senha é obrigatório</span>
          <span class="errors" *ngIf="password.errors.minlength">A senha deve possuir pelo menos 6 caracteres</span>
        </p>
      </div>
      <div class="input-field col s10 offset-s1 mb-5">
        <input id="passwordconf" formControlName="passwordConf" type="password" autocomplete="off" class="validate">
        <label for="passwordconf">Confirmar senha</label>
        <p *ngIf="passwordConf.errors && passwordConf.touched">
          <span class="errors" *ngIf="passwordConf.errors.required">Você deve confirmar a senha</span>
          <span class="errors" *ngIf="passwordConf.errors.MatchPassword">As senhas devem ser iguais</span>
        </p>
      </div>
      
      <div class="col s10 offset-s1">
        <button class="col s12 btn round deep-purple waves-effect waves-light" type="submit" name="action">entrar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    
  </div>

  <div class="max col l6 hide-on-med-and-down gradient-experience">
    <img class="responsive-img" [src]="logo">
  </div>
</div>