/* .max {
  height: 80vh;
}

p {
  padding: .65rem;
}

.ml-2 {
  padding-left: .6rem;
} */

.card {
  height: 65vh;
}

h4 {
  /* margin: 1.25rem auto; */
  display: inline
}

/* .mat-expansion-indicator {
  color: #6735b7 !important;
} */

p.adjust {
  margin-top: .5rem !important;
}