<nav-bring2me></nav-bring2me>
<div *ngIf="order" class="row">
  <div class="col s10 offset-s1 my-2">
    <a routerLink="/bring2me" class="col s12 grey-text text-lighten-1 mt-3 ml-0">voltar</a>
    <span class="col s12">
        <h4 class="deep-purple-text">{{order.product}}</h4>
        <a class="btn red right mt-1 ml-1 modal-trigger" href="#deleteModal">excluir</a>
        <a class="btn deep-purple mt-1 right modal-trigger" href="#editModal">editar</a>
    </span>
  </div>
  <div class="col s10 l5 offset-s1 offset-l1 card p-4 m-2">
    <h4 class="center pink-text text-accent-3">Detalhes do pedido</h4>
    <div class="m-3">
      <h6>
        <span class="pink-text text-accent-3">Preço: </span>
        <span>{{order.price | currency: 'USD'}}</span>
      </h6>
      <h6>
        <span class="pink-text text-accent-3">Recompensa oferecida: </span>
        <span>{{order.reward_value | currency: 'USD'}}</span>
      </h6>
    </div>
    <h4 class="center pink-text text-accent-3 pt-4">Detalhes da entrega</h4>
    <div class="m-3">
      <h6>
        <span class="pink-text text-accent-3">De: </span>
        <span>{{order.location_from}}</span>
      </h6>
      <h6>
        <span class="pink-text text-accent-3">Para: </span>
        <span>{{order.location_final}}</span>
      </h6>
      <h6>
        <span class="pink-text text-accent-3">Status: </span>
        <span>{{order.statusMessage}}</span>
      </h6>
      <h6 *ngIf="order.arrival_expectation && !order.arrival_date">
        <span class="pink-text text-accent-3">Expectativa de entrega: </span>
        <span>{{order.arrival_expectation}}</span>
      </h6>
      <h6 *ngIf="order.arrival_date">
        <span class="pink-text text-accent-3">Data de entrega: </span>
        <span>{{order.arrival_date}}</span>
      </h6>
    </div>
  </div> 
  <div class="col s10 l5 offset-s1 card p-4 m-2" *ngIf="order.status === '1'">
    <h4 class="center pink-text text-accent-3">Propostas</h4>
    <!-- <ul class="collapsible">
      <li *ngFor="let proposal of order.proposals">
        <div class="collapsible-header"><i class="material-icons">face</i> {{proposal.seller_name}} <span class="float-right">{{proposal.value | currency: 'USD'}}</span></div>
        <div class="collapsible-body">
          <button class="btn col s5 offset-s1 deep-purple">aceitar</button>
          <button class="btn col s5 ml-2 deep-purple">recusar</button>
        </div>
      </li>
    </ul> -->
    <mat-accordion>
      <mat-expansion-panel *ngFor="let proposal of order.proposals">
        <mat-expansion-panel-header>
          <p class="col s9 ml-0 adjust">{{ proposal.seller_name }}</p> <p class="col ml-auto adjust">{{ proposal.value | currency: 'USD' }}</p>
        </mat-expansion-panel-header>
        <div class="row">
          <button type="button" (click)="onAcceptProposal(proposal.id)" class="btn btn-small col s5 offset-s1 deep-purple">aceitar</button>
          <button type="button" (click)="onDenyProposal(proposal.id)" class="btn btn-small col s5 ml-2 deep-purple">recusar</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col s10 l5 offset-s1 card p-4 m-2" *ngIf="order.status !== '1'">
    <h4 class="center pink-text text-accent-3">Chat</h4>
  </div>

</div>

<div id="deleteModal" class="modal">
  <div class="modal-content row">
    <h4 class="center deep-purple-text">Deseja deletar esse pedido?</h4>
    <div class="col s12 mt-3">
      <button type="submit" class="modal-close waves-effect waves-green btn deep-purple col s5 offset-s1" (click)="onDeleteOrder()">sim</button>
      <button type="button" class="modal-close waves-effect waves-green btn deep-purple col s5 ml-2">nao</button>
    </div>
  </div>
</div>


<div id="editModal" class="modal">
  <div class="modal-content">
    <h4 class="center deep-purple-text">Editar Pedido</h4>

    <form [formGroup]="editForm" (submit)="onSaveOrder()">
      <div class="row">
        <div class="input-field col s12">
            <input id="productLink" formControlName="productLink" type="text" class="validate" placeholder="">
            <label for="productLink">Link do Produto</label>
        </div>
        <div class="input-field col s12">
            <input id="product" formControlName="product" type="text" class="validate" placeholder="" [value]="order?.product">
            <label for="product">Nome do Produto</label>
        </div>
        <!-- <img *ngIf="img" class="responsive-img col s12" [src]="produtoUrl" alt="">
        <div class="file-field input-field col s12">
            <div class="btn deep-purple">
                <span>Foto</span>
                <input type="file" name="foto" class="file-inp" (change)="changed($event)" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div> -->
        <div class="input-field col s12">
            <input id="price" formControlName="price" type="number" class="validate" placeholder="" [value]="order?.price">
            <label for="price">Valor do Produto</label>
        </div>
        <div class="input-field col s12">
            <input id="reward_value" formControlName="reward_value" type="number" class="validate" placeholder="" [value]="order?.reward_value">
            <label for="reward_value">Recompensa oferecida</label>
        </div>
        <h4 class="center deep-purple-text col s12">Localização</h4>
        <div class="input-field col s12 l6">
            <input id="location_from" formControlName="location_from" type="text" class="validate" placeholder="" [value]="order?.location_from">
            <label for="location_from">Local de Origem</label>
        </div>
        <div class="input-field col s12 l6">
            <input id="location_final" formControlName="location_final" type="text" class="validate" placeholder="" [value]="order?.location_final">
            <label for="location_final">Local destino</label>
        </div>
        <div class="col s12">
            <button type="submit" class="modal-close waves-effect waves-green btn deep-purple col s5">atualizar informacoes</button>
            <button type="button" class="modal-close waves-effect waves-green btn deep-purple col s5 push-s2">cancelar</button>
        </div>
      </div>
    </form>

  </div>
</div>