.gradient-azul-roxo {
  background: linear-gradient(to right, #5a1edb, #6735b7);
}

.gradient-azul {
  background: linear-gradient(to right, #824af9, #5a1edb);
}

.gradient-background {
  background: linear-gradient(-135deg, #824af9 ,#5a1edb ,#e825b5, #6735b7);
background-size: 400% 400%;
-webkit-animation: Gradient 8s ease-in-out infinite;
-moz-animation: Gradient 8s ease-in-out infinite;
  animation: Gradient 8s ease-in-out infinite;
}

.gradient-nopink-background {
  background: linear-gradient(-135deg, #824af9 ,#5a1edb , #6735b7);
background-size: 400% 400%;
-webkit-animation: Gradient 8s ease-in-out infinite;
-moz-animation: Gradient 8s ease-in-out infinite;
  animation: Gradient 8s ease-in-out infinite;
}

.gradient-experience {
  background: linear-gradient(to right bottom, #824af9 ,#5a1edb ,#e825b5, #6735b7);
background-size: 400% 400%;
-webkit-animation: Gradient 18s ease-out infinite;
-moz-animation: Gradient 18s ease-out infinite;
  animation: Gradient 18s ease-out infinite;
}

.gradient-text {
background: linear-gradient(-135deg, #824af9 ,#5a1edb ,#e825b5, #6735b7);
background-size: 400% 400%;
-webkit-animation: Gradient 8s ease-in-out infinite;
-moz-animation: Gradient 8s ease-in-out infinite;
  animation: Gradient 8s ease-in-out infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.gradient-experience-text {
  background: linear-gradient(-135deg, #824af9 ,#5a1edb ,#e825b5, #6735b7);
  background-size: 400% 400%;
  -webkit-animation: Gradient 18s ease-in-out infinite;
  -moz-animation: Gradient 18s ease-in-out infinite;
    animation: Gradient 18s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}