<admin-header></admin-header>

<main class="row valign-wrapper">

  <div (click)="onTogglePeriodRelatory()" class="border-purple card col s11 l6 ml-2 mr-2 white">
    <div class="card-content">
      <p class="center card-title deep-purple-text pointer">Analise por periodo</p>
    </div>
  </div>

  <div (click)="onToggleProductRelatory()" class="border-purple card col s11 l6 ml-2 mr-2 white">
    <div class="card-content">
      <p class="center card-title deep-purple-text pointer">Analise por produto</p>
    </div>
  </div>

</main>


<div id="periodRelatory" hidden class="row mt-2">
  <h4 class="pink-text text-accent-3 ml-2"><i (click)="onTogglePeriodRelatory()" class="material-icons deep-purple-text small pointer left">arrow_back</i> Relatório por período</h4>
  <form class="row" [formGroup]="searchForm" (submit)="onSubmit()">
    <div class="input-field col s12 l5 ml-5">
      <input id="dataInicial" formControlName="initialDate" type="text" class="datepicker">
      <label for="dataInicial">Data inicial</label>          
    </div>
  
    <div class="input-field col s12 l5">
      <input id="dataFinal" formControlName="finalDate" type="text" class="datepicker">
      <label for="dataFinal">Data final</label>
    </div>

    <button type="submit" class="btn deep-purple white-text mt-4 ml-1">pesquisar</button>
  </form>
  
  <p class="row" *ngIf="results">
    <span class="col s4 deep-purple-text">Produto</span>
    <span class="col s3 deep-purple-text">Comprador</span>
    <span class="col s3 deep-purple-text">Valor</span>
    <span class="deep-purple-text">Data de criação</span>
  </p>
  <ul class="collection" *ngIf="results">
    <li class="collection-item row" *ngFor="let item of results">
      <span class="col s4">{{ item.product }}</span>
      <span class="col s3">{{ item.buyer }}</span>
      <span class="col s3">{{ item.price | currency:'USD' }}</span>
      <span>{{ item.created_on }}</span>
    </li>
  </ul>
</div>

<div id="productRelatory" hidden class="row mt-2">
  <h4 class="pink-text text-accent-3 ml-2"><i (click)="onToggleProductRelatory()" class="material-icons deep-purple-text small pointer left">arrow_back</i> Relatório por período</h4>
  <form class="row" [formGroup]="searchByProductForm" (submit)="onSubmitByProduct()">
  
    <div class="input-field col s12 l10">
      <input id="productName" formControlName="productName" type="text">
      <label for="productName">Nome do Produto</label>
    </div>

    <button type="submit" class="btn deep-purple white-text mt-4 ml-1">pesquisar</button>
  </form>
  
  <p class="row" *ngIf="results">
    <span class="col s4 deep-purple-text">Produto</span>
    <span class="col s3 deep-purple-text">Comprador</span>
    <span class="col s3 deep-purple-text">Valor</span>
    <span class="deep-purple-text">Data de criação</span>
  </p>
  <ul class="collection" *ngIf="results">
    <li class="collection-item row" *ngFor="let item of results">
      <span class="col s4">{{ item.product }}</span>
      <span class="col s3">{{ item.buyer }}</span>
      <span class="col s3">{{ item.price | currency:'USD' }}</span>
      <span>{{ item.created_on }}</span>
    </li>
  </ul>
</div>