<admin-header></admin-header>

<div class="row mt-2">
  <h4 class="pink-text text-accent-3 ml-2">Relatório de usuários</h4>
  <form [formGroup]="searchForm" (submit)="onSubmit()">
    <div class="input-field col s12 l5 ml-5">
      <input id="dataInicial" formControlName="initialDate" type="text" class="datepicker">
      <label for="dataInicial">Data inicial</label>          
    </div>
  
    <div class="input-field col s12 l5">
      <input id="dataFinal" formControlName="finalDate" type="text" class="datepicker">
      <label for="dataFinal">Data final</label>
    </div>

    <button type="submit" class="btn deep-purple white-text mt-4 ml-1">pesquisar</button>
  </form>
</div>

<p class="row" *ngIf="results">
  <span class="col s6 deep-purple-text">Nome</span>
  <span class="col s4 deep-purple-text">Email</span>
  <span class="deep-purple-text">Data de criação</span>
</p>
<ul class="collection" *ngIf="results">
  <li class="collection-item row" *ngFor="let item of results">
    <span class="col s6">{{ item.name }}</span>
    <span class="col s4">{{ item.email }}</span>
    <span>{{ item.created_on }}</span>
  </li>
</ul>

<!-- <div class="container row yellow">
  <div class="col s12 l5 offset-l1 card deep-purple">
    <div class="card-content">
      <h4 class="card-title white-text">Relatório por periodo</h4>
    </div>
  </div>

  <div class="col s12 l5 ml-2 card deep-purple">
    <div class="card-content">
      <h4 class="card-title white-text">Relatório por periodo</h4>
    </div>
  </div>
</div> -->