<div class="col s12 m6 l4" *ngFor="let order of orders">

  <div class="card">
      <div class="card-image">
          <img [src]="teste">
      </div>
      <div class="card-content">
          <span class="card-title center deep-purple-text">{{order.product}}</span>
          <div class="row mt-5">
              <div class="col s4"><p class="center deep-purple-text">{{order.location_from}}</div>
              <div class="col s4">
                  <p class="center"><i class="material-icons deep-purple-text">flight</i></p>
              </div>
              <div class="col s4">
                  <p class="center deep-purple-text">{{order.location_final}}</p>
              </div>
          </div>
      </div>
      <div class="card-action">
          <div class="row">
              <button routerLink="/pedido" class="btn col s12 deep-purple white-text">detalhes</button>
          </div>
      </div>
  </div>

</div>

<h4 class="center mt-5 deep-purple-text" *ngIf="orders.length <= 0">Não há pedidos concluidos</h4>