.tabs {
	overflow-x: hidden
}

.tabs .tab a{
    color:#673ab7;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#f50057;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}