<nav-bring2me></nav-bring2me>
<ul class="tabs row">
    <li class="tab col s6" (click)="onOpenFeed()"><a class="active" href="#feed">feed</a></li>
    <li class="tab col s6" (click)="onOpenEntregar()"><a href="#aentregar">a entregar</a></li>
</ul>

<div id="feed" class="container row">
  <feed></feed>
</div>

<div id="aentregar" class="container row">
  <entregar></entregar>
</div>