<ul id="slide-out" class="sidenav">
  <li class="sidenav-close"><a routerLink="/home" class="deep-purple-text">home</a></li>
  <li class="sidenav-close"><a routerLink="/perfil/pagamento" class="deep-purple-text">pagamento</a></li>
  <li class="sidenav-close"><a (click)="onLogout()" class="deep-purple-text">sair</a></li>
</ul>
<div class="navbar-fixed">
  <nav class="nav-extended white">
    <div class="nav-wrapper"> 
      <a data-target="slide-out" class="gradient-text sidenav-trigger show-on-large pointer"><i class="material-icons">menu</i></a>
      <a routerLink="/home" class="brand-logo center deep-purple-text lobster">bring2me</a>
    </div>
  </nav>
</div>
        