<div class="row">
  <div class="max col l6 hide-on-med-and-down gradient-background">
    <img class="responsive-img" [src]="logo">
  </div>
  <div class="max col s12 l6 white">
    <i routerLink="/" class="material-icons deep-purple-text small pointer left">arrow_back</i>

    <h2 class="center deep-purple-text lobster m5">login</h2>
    <form [formGroup]="loginForm" (submit)="onLogin()">
      <div class="input-field col s10 offset-s1">
        <input id="email" formControlName="email" type="email" class="validate">
        <label for="email">Email</label>
        <p *ngIf="email.errors && email.touched">
          <span class="errors" *ngIf="email.errors.email">O email está em formato inválido</span>
        </p>
      </div>
      <div class="input-field col s10 offset-s1">
        <input id="password" formControlName="password" type="password" class="validate">
        <label for="password">Senha</label>
      </div>

      <label class="col s10 offset-s1 m15">
        <input formControlName="keepLogged" type="checkbox" class="filled-in" checked="checked" />
        <span>Mantenha-me conectado</span>
      </label>
      
      <div class="col s10 offset-s1 mt-5">
        <button class="col s12 btn round deep-purple waves-effect waves-light" type="submit" name="action">entrar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>

  </div>
</div>