<div class="deep-purple max row valign-wrapper">
  <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l1">
    <div class="card col s12 l10 offset-l1 white">
      <div class="card-content deep-purple-text">
        <span class="card-title center">Afinal, o que é bring2me?</span>
        <p class="center">Nos somos uma startup que está aqui para <b>facilitar</b> a sua vida</p>
        <br>
        <h5 class="card-title center">Como, você pergunta?</h5>
        <p class="center">
          Já pensou em importar algo mas encontrou dificuldades? <b>Sem problemas!</b>
          <br>
          Nos encontramos uma pessoa de confianca para trazer seu produto com facilidade e seguranca
          <br><br> E ai, ta esperando o que? <a routerLink="/cadastro" class="deep-purple-text"><b>Faça parte disso</b></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="max row white">
  <div class="col s10 offset-s1">
    <h2 class="col s12 center deep-purple-text">Nossa equipe</h2>
    <div class="col s10 offset-s1 l4 row p20" *ngFor="let founder of founders">
      <img src="https://loremflickr.com/600/600" class="col s8 offset-s2 responsive-img circle" alt="">
      <h5 class="col s12 center deep-purple-text">{{founder.nome}}</h5>
      <p class="col s12 center deep-purple-text">{{founder.funcao}}</p>
    </div>
  </div>
</div>