<div class="navbar-fixed">
  <nav class="nav-extended white">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center deep-purple-text lobster">bring2me</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger deep-purple-text"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="deep-purple-text" (click)="onLogout()">Sair</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav deep-purple" id="mobile-demo">
  <li class="sidenav-close"><a class="white-text" (click)="onLogout()">Sair</a></li>
</ul>