:host::ng-deep {
  background-color: #6735b7;
  min-height: 100vh !important;
  display: block;
}

main {
  width: 80%;
  margin: auto 10%;
  height: 80vh; 
}

.card-title {
  margin-bottom: 2px !important;
}

@media screen and (max-width: 1024px) {
  .valign-wrapper {
    display: unset;
    align-items: unset;
  }
}