<admin-header></admin-header>
<main class="row valign-wrapper">

  <div class="card col s11 l6 ml-2 mr-2 white">
    <div class="card-content">
      <p class="card-title deep-purple-text">Usuarios criados</p>
      <span class="deep-purple-text">nos ultimos 7 dias</span>
      <h4 class="pink-text text-accent-3">{{ usersSum }}</h4>
    </div>
  </div>

  <div class="card col s11 l6 ml-2 mr-2 white">
    <div class="card-content">
      <p class="card-title deep-purple-text">Pedidos feitos</p>
      <span class="deep-purple-text">nos ultimos 7 dias</span>
      <h4 class="pink-text text-accent-3">{{ ordersSum }}</h4>
    </div>
  </div>

</main>
