<nav-bring2me></nav-bring2me>
    <ul class="tabs row">
        <li class="tab col s4" (click)="openAbertos()"><a class="active" href="#abertos">em aberto</a></li>
        <li class="tab col s4" (click)="openEnviados()"><a href="#enviados">enviados</a></li>
        <li class="tab col s4" (click)="openConcluidos()"><a href="#concluidos">concluidos</a></li>
    </ul>

<div id="abertos" class="container row">
    <abertos></abertos>
</div>

<div id="enviados" class="container row">
    <enviados></enviados>
</div>

<div id="concluidos" class="container row">
    <concluidos></concluidos>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large modal-trigger pulse" href="#novo">
        <i class="large material-icons">add</i>
    </a>
</div>

<!-- MODAL NOVO PEDIDO -->
<div id="novo" class="modal">
    <div class="modal-content">
        <h4 class="center deep-purple-text">Novo Pedido</h4>
        <form [formGroup]="newOrderForm" (submit)="onAddOrder()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="productLink" formControlName="productLink" type="text" class="validate">
                    <label for="productLink">Link do Produto</label>
                </div>
                <div class="input-field col s12">
                    <input id="product" formControlName="product" type="text" class="validate">
                    <label for="product">Nome do Produto</label>
                </div>
                <!-- <img *ngIf="img" class="responsive-img col s12" [src]="produtoUrl" alt="">
                <div class="file-field input-field col s12">
                    <div class="btn deep-purple">
                        <span>Foto</span>
                        <input type="file" formControlName="foto" class="file-inp" (change)="changed($event)" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div> -->
                <div class="input-field col s12">
                    <input id="price" formControlName="price" type="number" class="validate">
                    <label for="price">Valor do Produto</label>
                </div>
                <div class="input-field col s12">
                    <input id="reward_value" formControlName="reward_value" type="number" class="validate">
                    <label for="reward_value">Recompensa oferecida</label>
                </div>
                <h4 class="center deep-purple-text">Localização</h4>
                <div class="input-field col s12 l6">
                    <input id="location_from" formControlName="location_from" type="text" class="validate">
                    <label for="location_from">Local de Origem</label>
                </div>
                <div class="input-field col s12 l6">
                    <input id="location_final" formControlName="location_final" type="text" class="validate">
                    <label for="location_final">Local destino</label>
                </div>
                <div class="col s12">
                    <button type="submit" class="modal-close waves-effect waves-green btn deep-purple col s5">Fazer pedido</button>
                    <button type="button" class="modal-close waves-effect waves-green btn deep-purple col s5 push-s2">cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>