<nav-dash></nav-dash>

<div class="row">
  <div routerLink="/bring2me" class="col s12 l4 gradient-purple-pink">
    <p class="center mt-35"><i class="pointer material-icons white-text medium">flight</i></p>
    <h4 class="center pointer mt-10 white-text">bring2me</h4>
  </div>
  <div routerLink="/bring2someone" class="col s12 l4 deep-purple darken-1">
    <p class="center mt-35"><i class="pointer material-icons white-text medium">work</i></p>
    <h4 class="center pointer mt-10 white-text">bring2someone</h4>
  </div>
  <div routerLink="/perfil" class="col s12 l4 gradient-pink-purple">
    <p class="center mt-35"><i class="pointer material-icons white-text medium">account_circle</i></p>
    <h4 class="center pointer mt-10 white-text">perfil</h4>
  </div>
</div>