* {
  margin: 0;
  padding: 0;
}

div.col {
  height: 89.9vh;
}

@media (max-width: 1025px) {
  div.col:first-of-type {
      height: 100vh;
  }
  div.col {
      height: 93vh;
  }
}

.mt-10 {
  margin-top: 10vh;
}

.mt-35 {
  margin-top: 35vh;
}

.gradient-purple-pink {
background: linear-gradient(to right, #7e57c2 .8%, #5e35b1 99.2%);
}

.gradient-pink-purple {
background: linear-gradient(to right, #5e35b1 .8%, #7e57c2 99.2%);
}