<nav class="deep-purple z-depth-0">
  <div class="nav-wrapper">
    <a routerLink="/dashboard" class="brand-logo ml-1">bring2me</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="btn white deep-purple-text" routerLink="/dashboard/users">Clientes</a></li>
        <li><a class="btn white deep-purple-text" routerLink="/dashboard/orders">Pedidos</a></li>
      <!-- <li>
        <a class='dropdown-trigger btn white deep-purple-text' href='#' data-target='dropdown1'>Relatorios</a>
        <ul id='dropdown1' class='dropdown-content'>
          
        </ul>
      </li> -->
      <li>
      <a (click)="logout()" class="btn deep-purple white-text white-border">sair</a>
      </li>
      <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
    </ul>
  </div>
</nav>