/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'material-icons/iconfont/material-icons.css';
@import url('assets/css/fonts.css');
@import url('assets/css/gradients.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat'
}

.default {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.m-1 {
  margin: .75rem;
}

.float-right {
  margin-right: .5rem !important;
  margin-left: auto;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.25rem;
}

.my-1 {
  margin: .75rem auto;
}

.my-2 {
  margin: 1rem auto;
}

.my-3 {
  margin: 1.25rem auto;
}

.my-4 {
  margin: 1.5rem auto !important;
}

.my-5 {
  margin: 1.75rem auto !important;
}

.mx-1 {
  margin: auto .75rem;
}

.mx-3 {
  margin: auto 1.25rem;
}

.mt-1 {
  margin-top: .75rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 1.25rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 1.75rem !important;
}

.mt-6 {
  margin-top: 2rem !important
}

.mt-7 {
  margin-top: 2.25rem !important;
}

.mt-8 {
  margin-top: 2.5rem !important;
}

.mt-9 {
  margin-top: 2.75rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: .75rem;
}

.ml-2 {
  margin-left: 1rem !important;
}

.ml-3 {
  margin-left: 1.25rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 1.75rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 1.75rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.p-1 {
  padding: .75rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.25rem;
}

.p-4 {
  padding: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
background-color: #6735b7;
}