<div class="navbar-fixed">
  <nav class="nav-extended deep-purple">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo white-text lobster">bring2me</a>
      <a data-target="sidenavMobile" class="sidenav-trigger white-text pointer"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="!isAuth"><a class="white-text" routerLink="/login">Login</a></li>
        <li *ngIf="!isAuth"><a class="white-text" routerLink="/cadastro">Cadastrar</a></li>
        <li *ngIf="isAuth"><a routerLink="/home" class="white-text">Acessar</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="sidenavMobile">
  <li *ngIf="!isAuth" class="sidenav-close"><a class="gradient-text" routerLink="/login">Login</a></li>
  <li *ngIf="!isAuth" class="sidenav-close"><a class="gradient-text" routerLink="/cadastro">Cadastrar</a></li>
  <li *ngIf="isAuth" class="sidenav-close"><a routerLink="/home" class="gradient-text">Acessar</a></li>
</ul>